header .container {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    font-size: 2rem;
    font-weight: 400;
    color: #7F55B1;
    margin-left: 5px;


}