.section_style {
    display: flex;
    gap: 1rem;
    overflow: hidden    ;

}

.card{
    position: relative;
    background-color: yellow;
  
}
.content_card{
    position: absolute;
    background-color: brown;
    bottom: 0px;
    
}

.image{
    height: 100%;
    /* position: absolute;   */
    /* background-color: chartreuse; */
}
/* .movies_list{
    display: flex;
    gap: 10px;
} */